/* #carnaval.dark,
#carnaval.light {
    --url-logo: url(../images/logo-carnaval.png);
} */

body#carnaval.dark,
body#carnaval.light {
    background-attachment: fixed;
    position: relative;
    overflow-x: hidden;
}

#carnaval.dark button:hover,
#carnaval.light button:hover,
#carnaval.light .grid-item:hover {
    border-radius: 10px;
    transition: all 0.25s ease;
}

#carnaval.dark a:hover,
#carnaval.light a:hover {
    color: var(--color-title-a-hover);
}

#carnaval button,
#carnaval button:hover,
#carnaval .grid-container button,
#carnaval .grid-item {
    background-color: transparent;
}

#carnaval.dark {
    --color-backgruond: linear-gradient(135deg,
            #020304 0%,
            #070b0f 35%,
            #0c151c 65%,
            #050607 100%);

    --color-backgruond-button: rgba(18, 22, 26, 0.85);
    --color-backgruond-tooltip: #0f1418;

    --color-text: #dfeff0;
    --color-text-half-hidden: rgba(223, 239, 240, 0.5);

    --color-title: #7df9ff;
    --color-tooltip: #ffffff;

    --color-title-a-hover: rgba(155, 239, 255, 0.7);
    --color-a-visited: #7df9ff;

    --color-sep: rgba(125, 249, 255, 0.15);

    --color-rgba: 125, 249, 255;
    --color-rgba-alpha: 0.25;

    --color-version: rgba(125, 249, 255, 0.55);

    --color-online: rgba(125, 249, 255, 0.8);
    --color-offline: rgba(255, 80, 80, 0.7);
}

body#carnaval.dark {
    background: var(--color-backgruond);
}

#carnaval.dark h1,
#carnaval.dark strong {
    text-shadow:
        0 0 6px rgba(31, 255, 215, 0.45),
        0 0 14px rgba(31, 255, 215, 0.25),
        0 0 22px rgba(212, 175, 55, 0.15);
}

#carnaval.light {
    --color-backgruond: linear-gradient(135deg,
            #6a00ff 0%,
            #8f3dff 55%,
            #00ffab 100%);
    --color-backgruond-button: #ffffff;
    --color-backgruond-tooltip: #ffffff;
    /* --color-text: #3a1b5a; */
    --color-text: #ffcc00;
    --color-text-half-hidden: rgba(255, 204, 0, 0.55);
    --color-title: #ffcc00;
    --color-tooltip: #3a1b5a;
    --color-title-a-hover: #ff4fc3;
    --color-a-visited: #6a00ff;
    --color-sep: #d7c6ff;
    --color-rgba: 106, 0, 255;
    --color-rgba-alpha: 0.15;
    --color-version: rgba(106, 0, 255, 0.55);
    --color-online: rgba(0, 200, 170, 0.7);
    --color-offline: rgba(220, 60, 60, 0.6);
}

body#carnaval.light {
    background: var(--color-backgruond)
}

#carnaval.light h1,
#carnaval.light h2,
#carnaval.light strong {
    color: var(--color-title);
    text-shadow:
        0 0 4px rgba(255, 204, 0, 0.45),
        0 0 10px rgba(255, 79, 195, 0.35);
}

#carnaval.light,
#carnaval.light p,
#carnaval.light div,
#carnaval.light a {
    color: var(--color-text);
}