:root {
    --color-rgba: 0, 0, 0;
    --color-offline: rgba(255, 0, 0, 0.5);
    /* --scrollbar-color:rgba(0, 255, 213, 0.7) rgba(0, 0, 0, 0.2); */
    --scrollbar-color: rgb(20 82 244 / 83%) rgba(0, 0, 0, 0.2);
    --url-copy-icon: ('../icons/copy.png')
}

#light {
    --color-backgruond: lightgray;
    --color-backgruond-button: #dfdfdf;
    --color-backgruond-tooltip: rgba(0, 0, 0, 0.1);
    --color-text: #000;
    --color-text-half-hidden: rgba(0, 0, 0, 0.5);
    --color-title: #696767;
    --color-tooltip: #000;
    --color-title-a-hover: #000000a8;
    --color-sep: #737373;
    --color-a-visited: #000;
    --color-rgba-alpha: 0.1;
    --url-logo: url('../images/logo-light.png');
    --color-version: #696767b6;
    --color-online: rgba(0, 105, 0, 0.5);
}

#dark {
    --color-backgruond: #303030;
    --color-backgruond-button: #FFF;
    --color-backgruond-tooltip: #FFF;
    --color-text: #FFF;
    --color-text-half-hidden: rgba(255, 255, 255, 0.5);
    --color-title: #878787;
    --color-tooltip: #000000;
    --color-title-a-hover: white;
    --color-sep: #dadada33;
    --color-a-visited: #dadada;
    --color-rgba-alpha: 0.8;
    --url-logo: url('../images/logo-dark.png');
    --color-version: #8787878a;
    --color-online: rgba(0, 255, 0, 0.5);
}

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--color-text);
    /* word-break: break-word; */
}

body {
    background-color: var(--color-backgruond);
    font-size: 14px;
    min-height: 180px;
    min-width: 354px;
    width: 100%;
}

h1 {
    font-size: 16px;
    margin: 0;
    color: var(--color-title);
    text-transform: uppercase;
}

a:link,
a:visited {
    color: var(--color-a-visited);
    outline: 0;
    text-decoration: none;
}

title {
    font-size: 20px;
}

.hidden {
    display: none;
}

.half-hidden,
.half-hidden * {
    color: var(--color-text-half-hidden);
}

input,
button {
    font-size: 15px;
    border: none;
    background-color: var(--color-backgruond);
    color: var(--color-text);
    cursor: pointer;
}

.modal-header {
    align-items: end;
    display: grid;
    grid-template-columns: 50% auto auto;
    padding: 5px;
    gap: 5px;
    min-height: 50px;
    text-align: center;
}

.modal-header .theme {
    align-items: flex-end;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.modal-header button:hover {
    color: var(--color-a-visited);
}

.sep {
    border-top: 2px solid var(--color-sep);
}

.modal-content {
    padding: 10px 22px;
}

.modal-icons-title {
    border-bottom: 0.5px solid var(--color-sep);
    height: 50px;
    width: 100%;
}

#logo {
    text-align: start;
}

.logo-icon {
    background-image: var(--url-logo);
    display: inline-block;
    min-width: 160px;
    max-width: 170px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

.modal-header #version {
    text-align: right;
    align-items: end;
    font-size: 12px;
    color: #444;
    text-transform: uppercase;
}

#version.online,
.connected .online {
    color: var(--color-online);
}

#version.offline,
.connected .offline {
    color: var(--color-offline);
}


/*###########################*/
#hml-header a:hover {
    color: var(--color-title-a-hover);
}

strong,
#hml {
    color: var(--color-a-visited)
}

a:hover {
    color: var(--color-title-a-hover);
}

.grid {
    display: grid;
    align-items: center;
    text-align: center;
}

.grid h1 {
    align-items: start;
    text-align: start;
}

.grid-container,
.grid-container-1,
.grid-container-2,
.grid-container-3 {
    display: grid;
    padding: 5px;
    align-items: center;
    text-align: center;
    gap: 7px;
}

.grid-container {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 5px;
}

.grid-container-1 a {
    display: grid;
    padding: 5px;
    align-items: center;
    text-align: center;
    grid-template-columns: auto;
}

.grid-container-1 a {
    font-weight: bold;
}

.grid-container-2 {
    grid-template-columns: repeat(2, auto);
}

.grid-container-3 {
    grid-template-columns: repeat(3, auto);
}

.grid-container-1 button,
.grid-container-2 button,
.grid-container-3 button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.grid-container-1 button:hover,
.grid-container-2 button:hover,
.grid-container-3 button:hover {
    background-color: rgba(62, 62, 62, 0.5);
}

.grid-item {
    padding: 5px;
    font-size: 15px;
    text-align: center;
}

.inactive {
    background-color: rgba(50, 50, 50, 0.5);
}

.active {
    background-color: rgba(127, 127, 127, 0.5);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color);
}

*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border: 20px solid rgba(0, 0, 0, 0.2);
}

.copy-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    position: relative;
}

.copy-btn img {
    display: none;
}

.copy-btn:hover img {
    display: inline;
    position: relative;
}


.tooltip {
    display: inline-block;
    /* cursor: help; */
}

.tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 50%;
    bottom: 125%;

    transform: translateX(-50%) translateY(6px);
    background: #333;
    color: var(--color-tooltip);
    background-color: var(--color-backgruond-tooltip);
    padding: 6px 8px;
    border-radius: 6px;
    font-size: 12px;
    line-height: 1.2;

    /* white-space: nowrap; */
    overflow-wrap: break-word;
    opacity: 0;
    visibility: hidden;
    transition: opacity .15s ease, transform .15s ease, visibility 0s linear .15s;
    pointer-events: none;
    z-index: 999;
}

.tooltip:hover::after,
.tooltip:focus-visible::after,
.tooltip:hover::before,
.tooltip:focus-visible::before {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
    transition-delay: 0s;
}

.pointer {
    position: absolute;
    top: 3%;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* transform: translate(-50%, -50%); */
    transition: .1s;
    pointer-events: none;
    animation: ghost 2.5s ease infinite;
}

@keyframes ghost {

    0%,
    100% {
        transform: scale(1);
        opacity: 0;
    }

    50% {
        transform: scale(1.5);
        opacity: 1;
    }
}

.invert,
#dark .copy-icon {
    filter: invert(100%);
}

/* confetti */
.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    top: -5px;
    opacity: 0.8;
    animation: fall ease-in-out infinite;
    pointer-events: none;
}

/* TO DO: fix translateY, 
    deve vir do js o tamaho maximo ou calcular com css pelo scroll*/
@keyframes fall {
    to {
        transform: translateY(180vh) rotate(360deg);
    }
}

/* fim confetti */